@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight:500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.banner-content{
    max-width: 868px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-description , .text-light-gray{
    font-size: 1rem;
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1.25rem;
}
.banner-img{
    width: 100%;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.teams{
    align-items:center ;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 540px;
}
.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-description .text-light-gray{
    font-size: 1rem;
    
}
#fea{
   color: rgba(255, 144, 14, 1);
}
#quick{
    color: #727272;
    font-weight: 500;
}

.facts-container{
    display: grid;

    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
}
.fact-card{
    border: 1px solid rgba(255, 144, 14, 1);
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-right: 125px;
    height: 240px;
    width: 240px;
    border-radius: 8px ;

}
.fact-number{
    font-weight: 600;
    font-size:2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.spon{
    max-width: 542px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.spon-logos{
    display: flex;
    justify-content: space-around;
}

#line{
    border-left: 5px solid rgba(255, 144, 14, 1);
    padding-left: 10px;
}
.features{
    display: flex;
}
.task{
    max-width: 568px;
    max-height: 171px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 42px ;
    margin: 20px;
    margin-right: 145px;
}

.btn-sec{
    max-width: 342px;
    max-height: 200px;
    padding: 45px 42px;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    margin-left: -100px;
    margin-top: -100px;
}
#year{
    font-size: 65px;
    font-weight: 700;
    color: white;
}
#exp{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.archi-img{
    width: 100%;
}




@media screen and (max-width:576px){
    .nav-inside, .navbar .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        gap: 20px;
    }
    .spon-logos{
        display: grid;
        grid-template-rows: repeat(1,1fr) ;
        gap: 20px;
        justify-items: center;
    }
    
}